
<%= render "search" %>

<div class="container mt-4">
<div class="row d-flex justify-content-center border border-secondary px-4 py-4 rounded">
<h1>My Portfolio</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Latest Price</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Change %</th>
            <th scope="col" colspan=2></th>
        </tr>
    </thead>
    <tbody>
        <% @user_stocks.each do |user_stock| %>
            <tr>
                <th scope="row"><%= user_stock.stock.symbol %></th>
                <td><%= user_stock.stock.name %></td>
                <td><%= user_stock.quantity %></td>
                <td>$<%= user_stock.stock.price %></td>
                <td>$<%= user_stock.quantity * user_stock.stock.price %></td>
                <td><%= user_stock.stock.change_percent %></td>
                <td><%= link_to "Buy", buy_stock_path(user_stock.stock.symbol), class: "btn btn-success" %></td>
                <td><%= link_to "Sell", sell_stock_path(user_stock.stock.symbol), class: "btn btn-danger" %></td>
            </tr>
        <% end %>
    </tbody>
</table>

</div>
</div>