<div class="container mt-5">
<div class="row d-flex justify-content-center">
<div class="col-md-6">
<div class="border rounded-4 bg-light px-4 py-4" id="form1">

<h2 class="fw-bold">Edit User Profile</h2>
<hr/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { "data-turbo": "false", method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-outline mb-4">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form2Example1", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-outline mb-4">
    <%= f.label :password, class:"form-label" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", id:"form2Example2", class:"form-control"%>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"form2Example2", class:"form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :current_password, class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", id:"form2Example2", class:"form-control" %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "Update", class:"btn btn-primary btn-block" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>


<div class="container mt-5">
<div class="row d-flex justify-content-center">
<div class="col-md-6">
<div class="border rounded-4 bg-light px-4 py-4" id="form1">

<h3>Unhappy?</h3>
<hr/>
<div class="">
<%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-block d-grid gap-2 col-6 mx-auto" %>
</div>

</div>
</div>
</div>
</div>
