<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="border rounded-4 bg-light px-4 py-4" id="form1">
      <h2 class="fw-bold">Sign up</h2>
      <hr/>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>

        <div class="form-outline mb-4">
          <%= f.label :email, class:"form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form2Example1", class:"form-control" %>
          
          <% resource.errors.full_messages_for(:email).each do |message| %>
            <div class="error-msg" style="color:red;"><%= message %></div>
          <% end %>
        
        </div>

        <div class="form-outline mb-4">
          <%= f.label :password, class:"form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", id:"form2Example2", class:"form-control" %>
          <% resource.errors.full_messages_for(:password).each do |message| %>
            <div class="error-msg" style="color:red;"><%= message %></div>
          <% end %>
        </div>

        <div class="form-outline mb-4">
          <%= f.label :password_confirmation, class:"form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"form2Example2", class:"form-control" %>
          <% resource.errors.full_messages_for(:password).each do |message| %>
            <div class="error-msg" style="color:red;"><%= message %></div>
          <% end %>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <%= f.submit "Sign up", class:"btn btn-primary btn-block mb-4"  %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
