<div class="container mt-4">
<div class="row d-flex justify-content-center border border-secondary px-4 py-4 rounded">
<h1> All Transactions </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Stock</th>
            <th scope="col">Shares</th>
            <th scope="col">Price/Share</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each do |transaction| %>
            <tr>
                <td><%= transaction.user.email %></td>
                <td><%= transaction.created_at.in_time_zone('Singapore').strftime("%b %d, %Y @ %l:%M %p") %></td>
                <td><%= transaction.stock.name %></td>
                <td><%= transaction.quantity %></td>
                <td>$<%= transaction.price %></td>
                <td>$<%= transaction.amount %></td>
                <td><%= transaction.kind %></td>
            </tr>
        <% end %>
    </tbody>
</table>

</div>
</div>
