<div class="container mt-5">
  <div class="row d-flex align-content-center justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header fs-4">
          <%= @stock.name %>
        </div>
        <div class="card-body">
          <h1 class="card-title fw-bold"><%= @stock.symbol %></h1>
          <p class="card-text fw-semibold fs-3">$<%= @quote.latest_price %></p>
          <div class="row justify-content-center">
            <div class="col text-center d-grid col-3">
              <%= link_to "Buy", buy_stock_path(@stock.symbol), class: "btn btn-success #{'disabled' if !current_user.approved?}" %>
            </div>
            <div class="col text-center d-grid col-3">
              <%= link_to "Sell", sell_stock_path(@stock.symbol), class: "btn btn-danger #{'disabled' if @shares == 0}" %>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted fw-semibold fs-5">
          <%= "You own #{@shares} share#{'s' if @shares > 1}" %>
        </div>
      </div>
    </div>
  </div>
</div>
