<!DOCTYPE html>
<html>
  <head>
    <title>TradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'header' %>

    <% flash.each do |key, value| %>
      <% alert_class = case key
                      when "notice" then "success"
                      when "alert" then "danger"
                      else key
                      end %>
      <%= content_tag :div, class: "alert alert-#{alert_class} alert-dismissible fade show", role: "alert" do %>
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
