<div class="container mt-5">
<div class="row d-flex justify-content-center">
<div class="col-md-6">
<div class="border rounded-4 bg-light px-4 py-4" id="form1">
<h1 class="fw-bold">Edit Trader Account</h1>
<hr/>
<%= form_with(scope: @account, url: account_path, method: 'put', data: { turbo: false }) do |f| %>

  <div class="form-outline mb-4">
    <%= f.label :email, class:"form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form2Example1", class:"form-control" %>
    <% @account.errors.full_messages_for(:email).each do |message| %>
        <div class="error-msg" style="color:red;"><%= message %></div>
    <% end %>
  </div>

  <div class="form-outline mb-4">
    <%= f.check_box :approved %>
    <%= f.label "Approved?", class:"form-label" %>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "Submit", class:"btn btn-primary btn-block mb-4" %>
  </div>

<% end %>

</div>
</div>
</div>
</div>
