<div>
<div class="form-container-container">
<div class="form-container">
<h1>Edit Trader Account</h1>

<%= form_with(scope: @account, url: account_path, method: 'put' ) do |f| %>

  <div class="form-outline mb-4">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form2Example1", class:"form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.check_box :approved %>
    <%= f.label "Approved?", class:"form-label" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary btn-block mb-4" %>
  </div>
  
<% end %>

</div>
</div>
</div>