<div>
<div class="form-container-container">
<div class="form-container">
<h1>New Trader Account</h1>

<%= form_with(scope: @account, url: accounts_path) do |f| %>

  <div class="form-outline mb-4">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form2Example1", class:"form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :password, class:"form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", id:"form2Exampl2", class:"form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"form2Example2", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary btn-block mb-4" %>
  </div>
<% end %>

</div>
</div>
</div>