<div class="container mt-4">
<div class="row d-flex justify-content-center border px-4 py-4 rounded-4 bg-light">

<h1 class="fw-bold">Account Details</h1>
<p><%= link_to "Edit", edit_account_path(@account), class:"btn btn-warning" %> <%= link_to "Delete", account_path(@account), data: { turbo_method: :delete, turbo_confirm: "Are you sure to proceed?" }, class:"btn btn-danger" %></p>

<table class="table">

    <tr>
        <td><b>Email:</b></td>
        <td><%= @account.email %></td>
    </tr>

<% if @account.approved? %>
    <tr>
        <td><b>Account Status:</b></td>
        <td>Approved</td>
    </tr>

    <tr>
    <td><b>Confirmation Status:</b></td>
    <td><%= @account.confirmed_at.in_time_zone('Singapore').strftime("%b %d, %Y @ %l:%M %p") %></td>
    </tr>

<% else %>
    <tr>
        <td><b>Account Status:</b></td>
        <td>Pending</td>
    </tr>

    <tr>
    <td><b>Confirmation Status:</b></td>
    <td><% if @account.confirmed_at == nil %> Unconfirmed <% else %><%= @account.confirmed_at.in_time_zone('Singapore').strftime("%b %d, %Y @ %l:%M %p") %><% end %></td>
    </tr>
<% end %>

</table>

</div>
</div>
